.row{
    display: inline-block;
}

Button{
    height: 50px;
    width: 50px;
    text-align: center;
}

.congratulate{
    font-size: xx-large;
}

.congratulate Button{
    width: 200px;
    font-size: 20px;
}